<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4/dist/simplex/bootstrap.min.css">
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
    </ul>
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" ng-class="{active:tabs.tab === 1}" data-toggle="tab" ng-click="tabs.selectTab(1)">Pokédex</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ng-class="{active:tabs.tab === 2}" data-toggle="tab" ng-click="tabs.selectTab(2)">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ng-class="{active:tabs.tab === 3}" data-toggle="tab" ng-click="tabs.selectTab(3)">Evolution</a>
        </li>
    </ul>
</body>
</html>