<button class="btn btn-primary mb-3" ng-hide="cmtsCtrl.show" ng-click="cmtsCtrl.toggle()">Show comments <span class="badge badge-pill badge-secondary text-primary">{{cmtsCtrl.comments.length}}</span></button>
<div class="card mb-3" ng-show="cmtsCtrl.show">
    <div class="card-header bg-primary lead text-white">
        Comments <button class="close float-right" aria-label="Close" ng-click="cmtsCtrl.toggle()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="card-body">
        <form name="commentsForm" class="form-horizontal" ng-submit="commentsForm.$valid && cmtsCtrl.addComment()" novalidate>
            <div class="form-group row">
                <div class="col-sm-6">
                    <textarea ng-model="cmtsCtrl.comment.body" placeholder="Please tell us what you think about {{pkmCtrl.pokemon.name}}" class="form-control" required></textarea>
                </div>
                <div class="col-sm-4 mb-2">
                    <input type="email" ng-model="cmtsCtrl.comment.email" ng-disabled="cmtsCtrl.comment.anonymous" placeholder="Please enter your email address" class="form-control" ng-required="!cmtsCtrl.comment.anonymous">
                    <div class="custom-control custom-checkbox mt-2">
                        <input ng-model="cmtsCtrl.comment.anonymous" ng-change="cmtsCtrl.anonymousChanged()" type="checkbox" class="custom-control-input" id="anonymous">
                        <label class="custom-control-label" for="anonymous">Anonymous</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-lg">Comment</button>
                </div>
            </div>
        </form>
        <blockquote class="blockquote" ng-repeat="comment in cmtsCtrl.comments">
            <p class="mb-0">{{comment.body}}</p>
            <footer class="blockquote-footer">
                Comment by 
                <a ng-if="!comment.anonymous" href="mailto:{{comment.email}}">{{comment.email}}</a>
                <em ng-if="comment.anonymous">Anonymous</em>
                on <span>{{comment.date | date : 'medium'}}</span>
            </footer>
        </blockquote>					
    </div>
</div>